<div >
    <h2>Add Customer</h2>
    <form (ngSubmit)="onSubmit()" #customerForm="ngForm">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName"
                required
                [(ngModel)]="model.firstName" name="firstName"
                #firstName="ngModel">
            <div [hidden]="firstName.valid || firstName.pristine"
                class="alert alert-danger">
                First Name is required
            </div>
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName"
                required
                [(ngModel)]="model.lastName" name="lastName"
                #lastName="ngModel">
            <div [hidden]="lastName.valid || lastName.pristine"
                class="alert alert-danger">
                Last Name is required
            </div>
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email"
                required
                [(ngModel)]="model.email" name="email"
                #email="ngModel">
            <div [hidden]="email.valid || email.pristine"
                class="alert alert-danger">
                Email is required
            </div>
        </div>
        <button type="submit" class="btn btn-success" 
            [disabled]="!customerForm.form.valid">Submit</button>
        <button type="button" class="btn btn-default" (click)="goBack(); customerForm.reset()">Cancel</button>
    </form>
</div>
