<div >
    <span class="h2">Customers</span>
    <a mat-icon-button color="primary" routerLink="/add/"
        aria-label="Add a new Customer">
        <mat-icon>add</mat-icon>
    </a>
    <div >
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let customer of activePageSlice; let i = index"
            [class.active]="customer.id == currentIndex" (click)="selectCustomer(i,customer)">
                <a routerLink="/details/{{customer.id}}" (click)="storeCustomer(i,customer)">
                    <span class="badge">{{customer.id}}</span> {{customer.firstName}} {{customer.lastName}}
                </a>
            </li>
            <mat-paginator [length]="length"
                [pageSize]="pageSize"
                [pageIndex]="pageIndex"
                [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page"
                (page)="onPageChanged($event)">
            </mat-paginator>    
        </ul>
    </div>
</div>
